body {
    /* background-color: #000; */
}

video {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#top-info, #bottom-info {
    background-color: #00000082;
}

#bottom-info {
    position: fixed;
    bottom: 0;
    width: 100%;
    opacity: 0;
    padding-top: 20px;
}

#extra-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: right;
}

#extra-text #main {
    font-size: 35px;
}